/datos$1.class
/datos$2.class
/datos$3.class
/datos$4.class
/datos.class
/datosMascota$1.class
/datosMascota$2.class
/datosMascota.class
/Menu$1.class
/Menu.class
/mascotaDatos$1.class
/mascotaDatos.class
/dat$1.class
/dat.class
/Menu$2.class
/Menu$3.class
/Menu$4.class
/Menu$5.class
/datosMascota$3.class
