/.metadata/
.idea
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Projecto1/.settings
/Projecto1/.classpath
/Projecto1/.project